* {
    padding: 0px;
    margin: 0px;
}

header{
    display: flex;
    align-items: center;
    text-align: center;
    padding: 0px;
    margin: 0px;
    justify-content: space-between;
}

.img-header{
    width: 35px;
    height: 35px;
    padding: 10px;
}

.div-hicon{
    display: flex;
    align-items: center;
    text-align: center;
    padding: 0px;
    margin: 0px;
    text-decoration: none;
    color: black;
}

.navbar ul{
    display: flex;
}

.navbar ul li{
    text-decoration: none;
    display: flex;
    padding-right: 15px;
    color: black;
}

.navbero {
    color: black;
    text-decoration: none;
}